
nav {
    overflow: hidden;
    padding: 0;
}

.navtop {
    background-color: #3004aa;
    color: white;
}


li a {
    float: left;
    padding: 0;
}

a {
  text-decoration: none;
}

ul {
    list-style-type: none;
}

.streeploos {
    text-decoration: none;
    display: block;
}