.navtop li {
    float: left;
    color: #333;

    text-decoration: none;
    font-size: 17px;
    list-style-type: none;
}


.navtop, nav {
    background-color: #f846f5;
    color: black;
}

body{
    margin: 0;
}

ul {
    overflow: hidden;
}

.navtop a:hover {
    background-color: #ddd;
    color: black;
}

.navtop a {
    background-color: #f846f5;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    display: block;
}

.navtop a.active{
    background-color: #6531e3;
    color: black;
}

